<a href="https://colab.research.google.com/github/lionelsu/XPE_Python/blob/main/Segunda_atividade_do_modulo_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

#!pip install --upgrade numpy
#!pip install --upgrade pandas
#!pip install --upgrade matplotlib

df = pd.read_csv('https://pycourse.s3.amazonaws.com/bike-sharing.csv')
print(df)

         datetime  rec_id  season  year  month  hour  is_holiday  weekday  \
0      2011-01-01       1       1     0      1     0           0        6
1      2011-01-01       2       1     0      1     1           0        6
2      2011-01-01       3       1     0      1     2           0        6
3      2011-01-01       4       1     0      1     3           0        6
4      2011-01-01       5       1     0      1     4           0        6
...           ...     ...     ...   ...    ...   ...         ...      ...
17374  2012-12-31   17375       1     1     12    19           0        1
17375  2012-12-31   17376       1     1     12    20           0        1
17376  2012-12-31   17377       1     1     12    21           0        1
17377  2012-12-31   17378       1     1     12    22           0        1
17378  2012-12-31   17379       1     1     12    23           0        1

       is_workingday  weather_condition  temp   atemp  humidity  windspeed  \
0                  0                  1  0.24  0.2879      0.81     0.0000
1                  0                  1  0.22  0.2727      0.80     0.0000
2                  0                  1  0.22  0.2727      0.80     0.0000
3                  0                  1  0.24  0.2879      0.75     0.0000
4                  0                  1  0.24  0.2879      0.75     0.0000
...              ...                ...   ...     ...       ...        ...
17374              1                  2  0.26  0.2576      0.60     0.1642
17375              1                  2  0.26  0.2576      0.60     0.1642
17376              1                  1  0.26  0.2576      0.60     0.1642
17377              1                  1  0.26  0.2727      0.56     0.1343
17378              1                  1  0.26  0.2727      0.65     0.1343

       casual  registered  total_count
0           3          13           16
1           8          32           40
2           5          27           32
3           3          10           13
4           0           1            1
...       ...         ...          ...
17374      11         108          119
17375       8          81           89
17376       7          83           90
17377      13          48           61
17378      12          37           49

[17379 rows x 17 columns]

In [2]:
#4. Responder às seguintes perguntas:
#a. Qual o tamanho desse dataset?
size = df.size
print(size)

295443

In [3]:
#b. Qual a média da coluna windspeed?
wcondition = df['weather_condition'].describe()[['mean']]
print('A média da coluna weather_condition é\n', wcondition)

A média da coluna weather_condition é
 mean    1.425283
Name: weather_condition, dtype: float64

In [4]:
#c. Qual a média da coluna temp?
temp = df['temp'].describe()[['mean']]
print('A média da coluna temp é\n', temp)

A média da coluna temp é
 mean    0.496987
Name: temp, dtype: float64

In [5]:
#d. Quantos registros existem para o ano de 2011?
df['datetime'] = pd.to_datetime(df['datetime'])
df = df.set_index('datetime')

In [6]:
df.dropna(axis='index', inplace=True)

In [5]:
maxloca = df.copy()

In [9]:
maxloca['datetime'] = pd.to_datetime(maxloca['datetime'])

In [16]:
filtered11 = maxloca.loc[(maxloca['datetime'] >= '2011-01-01') & (maxloca['datetime'] < '2012-01-01')]

In [23]:
filtered11

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8640,2011-12-31,8641,1,0,12,19,0,6,0,1,0.42,0.4242,0.54,0.2239,19,73,92
8641,2011-12-31,8642,1,0,12,20,0,6,0,1,0.42,0.4242,0.54,0.2239,8,63,71
8642,2011-12-31,8643,1,0,12,21,0,6,0,1,0.40,0.4091,0.58,0.1940,2,50,52
8643,2011-12-31,8644,1,0,12,22,0,6,0,1,0.38,0.3939,0.62,0.1343,2,36,38
8644,2011-12-31,8645,1,0,12,23,0,6,0,1,0.36,0.3788,0.66,0.0000,4,27,31

In [25]:
sum11 = filtered11['total_count']
print("Quantidade de locacoes em 2011:", sum(sum11))

Quantidade de locacoes em 2011: 1243103

In [19]:
filtered12 = maxloca.loc[(maxloca['datetime'] > '2011-12-31') & (maxloca['datetime'] <= '2012-12-31')]

In [26]:
filtered12

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
8645,2012-01-01,8646,1,1,1,0,0,0,0,1,0.36,0.3788,0.66,0.0000,5,43,48
8646,2012-01-01,8647,1,1,1,1,0,0,0,1,0.36,0.3485,0.66,0.1343,15,78,93
8647,2012-01-01,8648,1,1,1,2,0,0,0,1,0.32,0.3485,0.76,0.0000,16,59,75
8648,2012-01-01,8649,1,1,1,3,0,0,0,1,0.30,0.3333,0.81,0.0000,11,41,52
8649,2012-01-01,8650,1,1,1,4,0,0,0,1,0.28,0.3030,0.81,0.0896,0,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,2012-12-31,17375,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,2012-12-31,17376,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,2012-12-31,17377,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,2012-12-31,17378,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,2012-12-31,17379,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [27]:
sum12 = filtered12['total_count']
print("Quantidades de locacoes em 2012:", sum(sum12))

Quantidades de locacoes em 2012: 2049576

In [65]:
temporada1 = maxloca.groupby(['season']).mean().sort_values(by='total_count',
                            ascending=False)

In [66]:
temporada1

,rec_id,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
season,,,,,,,,,,,,,,,
3,9526.588968,0.501779,7.689724,11.507562,0.021352,3.033141,0.698621,1.330294,0.706410,0.656004,0.633167,0.171593,50.287144,185.729093,236.016237
2,7287.727376,0.500340,4.654117,11.512134,0.021774,2.991608,0.695396,1.443638,0.544663,0.520547,0.627022,0.203410,46.160581,162.183488,208.344069
4,11655.779301,0.495747,10.702505,11.522448,0.034026,2.979915,0.676749,1.472117,0.423138,0.415738,0.667124,0.170819,30.666824,168.202032,198.868856
1,6302.008015,0.512494,3.119755,11.648515,0.038661,3.008722,0.658652,1.460160,0.299147,0.298116,0.581348,0.215107,14.290901,96.823668,111.114569

In [58]:
temporada2 = maxloca.groupby(['hour']).mean().sort_values(by='total_count',
                            ascending=False)

In [59]:
temporada2

,rec_id,season,year,month,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
hour,,,,,,,,,,,,,,,
17,8657.647945,2.494521,0.500000,6.515068,0.028767,3.000000,0.683562,1.409589,0.554575,0.523224,0.513438,0.233371,74.273973,387.178082,461.452055
18,8673.884615,2.495879,0.501374,6.520604,0.028846,2.995879,0.684066,1.410714,0.541181,0.512736,0.535989,0.224684,61.120879,364.390110,425.510989
8,8661.155433,2.496561,0.500688,6.525447,0.028886,3.001376,0.682256,1.474553,0.454993,0.440272,0.702682,0.176563,21.679505,337.331499,359.011004
16,8656.647945,2.494521,0.500000,6.515068,0.028767,3.000000,0.683562,1.398630,0.564959,0.532460,0.495795,0.237317,73.745205,238.238356,311.983562
19,8674.884615,2.495879,0.501374,6.520604,0.028846,2.995879,0.684066,1.381868,0.524176,0.499459,0.572445,0.210148,48.770604,262.752747,311.523352
13,8664.716049,2.496571,0.500686,6.522634,0.028807,2.998628,0.683128,1.444444,0.554733,0.525499,0.511591,0.221633,72.308642,181.352538,253.661180
12,8653.798077,2.494505,0.500000,6.517857,0.028846,3.000000,0.682692,1.467033,0.540275,0.512903,0.536703,0.216013,68.293956,185.021978,253.315934
15,8666.716049,2.496571,0.500686,6.522634,0.028807,2.998628,0.683128,1.425240,0.568615,0.536598,0.492126,0.235143,74.905350,176.327846,251.233196
14,8665.716049,2.496571,0.500686,6.522634,0.028807,2.998628,0.683128,1.433471,0.565075,0.534188,0.496982,0.232462,75.567901,165.381344,240.949246
20,8675.884615,2.495879,0.501374,6.520604,0.028846,2.995879,0.684066,1.379121,0.508599,0.487221,0.601470,0.195222,36.233516,189.796703,226.030220
9,8662.155433,2.496561,0.500688,6.525447,0.028886,3.001376,0.682256,1.484182,0.476726,0.458715,0.661692,0.191262,30.891334,188.418157,219.309491
7,8660.155433,2.496561,0.500688,6.525447,0.028886,3.001376,0.682256,1.486933,0.439092,0.425557,0.730908,0.163916,11.055021,201.009629,212.064649
11,8664.155433,2.496561,0.500688,6.525447,0.028886,3.001376,0.682256,1.449794,0.522613,0.497477,0.571431,0.207339,59.540578,148.602476,208.143054
10,8663.155433,2.496561,0.500688,6.525447,0.028886,3.001376,0.682256,1.462173,0.500578,0.478139,0.616066,0.202041,46.477304,127.191197,173.668501
21,8676.884615,2.495879,0.501374,6.520604,0.028846,2.995879,0.684066,1.373626,0.495302,0.476503,0.631538,0.180871,28.255495,144.059066,172.314560
22,8677.884615,2.495879,0.501374,6.520604,0.028846,2.995879,0.684066,1.376374,0.484505,0.466535,0.653146,0.174640,22.252747,109.082418,131.335165
23,8678.884615,2.495879,0.501374,6.520604,0.028846,2.995879,0.684066,1.416209,0.475027,0.458086,0.673269,0.164802,15.199176,72.631868,87.831044
6,8674.376552,2.497931,0.502069,6.531034,0.028966,3.009655,0.684138,1.451034,0.432469,0.419376,0.744179,0.157722,4.161379,71.882759,76.044138
0,8677.683196,2.500000,0.502755,6.534435,0.028926,3.004132,0.683196,1.398072,0.467410,0.451105,0.691019,0.161758,10.158402,43.739669,53.898072
1,8672.640884,2.497238,0.502762,6.526243,0.029006,3.008287,0.682320,1.400552,0.459365,0.443289,0.704213,0.158659,6.504144,26.871547,33.375691
2,8746.538462,2.511888,0.507692,6.567832,0.029371,3.027972,0.681119,1.409790,0.454573,0.439184,0.716825,0.154519,4.772028,18.097902,22.869930
5,8758.301255,2.513250,0.507671,6.581590,0.029289,3.023710,0.690377,1.422594,0.436123,0.423145,0.742929,0.150342,1.411437,18.478382,19.889819
3,8819.661406,2.539455,0.509326,6.645624,0.025825,3.027260,0.674319,1.424677,0.453113,0.438396,0.729785,0.150929,2.715925,9.011478,11.727403
4,8892.555237,2.552367,0.516499,6.664275,0.028694,3.011478,0.674319,1.426112,0.446628,0.432549,0.742367,0.155813,1.253945,5.098996,6.352941

In [62]:
temporada3 = maxloca.groupby(['weekday']).mean().sort_values(by='total_count',
                            ascending=False)

In [63]:
temporada3

,rec_id,season,year,month,hour,is_holiday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
weekday,,,,,,,,,,,,,,,
4,8739.579927,2.521651,0.504249,6.590045,11.556050,0.019425,0.980575,1.402266,0.507017,0.485021,0.609628,0.191987,24.872521,171.564144,196.436665
5,8725.739043,2.495778,0.501809,6.593888,11.527945,0.019300,0.980700,1.412143,0.496429,0.471828,0.613840,0.186430,31.458786,164.677121,196.135907
2,8665.830004,2.529148,0.501834,6.516918,11.622095,0.009376,0.990624,1.476152,0.508569,0.487179,0.639833,0.191917,23.580514,167.658377,191.238891
3,8703.582222,2.510707,0.503434,6.543838,11.527273,0.009697,0.990303,1.485657,0.506675,0.483528,0.644820,0.187172,23.159192,167.971313,191.130505
6,8652.199841,2.476115,0.496815,6.553344,11.483678,0.000000,0.000000,1.408838,0.481847,0.461909,0.619084,0.196190,61.246815,128.962978,190.209793
1,8645.734167,2.488503,0.501815,6.479225,11.556676,0.144010,0.855990,1.431222,0.495046,0.475908,0.635651,0.188863,28.553449,155.191206,183.744655
0,8697.580735,2.490408,0.507994,6.487210,11.555156,0.000000,0.000000,1.362110,0.483821,0.465507,0.627994,0.188093,56.163469,121.305356,177.468825

In [79]:
quarta = maxloca.loc[(maxloca['weekday'] == 3)]

In [80]:
quarta = quarta.groupby(['hour']).mean().sort_values(by='total_count', ascending=False)

In [82]:
quarta

,rec_id,season,year,month,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
hour,,,,,,,,,,,,,,,
17,8655.442308,2.500000,0.500000,6.509615,0.009615,3.0,0.990385,1.471154,0.564038,0.531615,0.541250,0.232641,51.932692,461.211538,513.144231
18,8734.776699,2.514563,0.504854,6.563107,0.009709,3.0,0.990291,1.572816,0.554563,0.525155,0.559320,0.231420,47.398058,446.631068,494.029126
8,8646.442308,2.500000,0.500000,6.509615,0.009615,3.0,0.990385,1.596154,0.465962,0.448434,0.716154,0.173514,22.884615,465.442308,488.326923
19,8735.776699,2.514563,0.504854,6.563107,0.009709,3.0,0.990291,1.485437,0.538447,0.511916,0.590097,0.220405,40.970874,316.533981,357.504854
7,8645.442308,2.500000,0.500000,6.509615,0.009615,3.0,0.990385,1.586538,0.448462,0.432695,0.739808,0.154280,12.788462,291.192308,303.980769
16,8654.442308,2.500000,0.500000,6.509615,0.009615,3.0,0.990385,1.471154,0.574615,0.540646,0.522788,0.229339,41.538462,231.423077,272.961538
20,8736.776699,2.514563,0.504854,6.563107,0.009709,3.0,0.990291,1.475728,0.520388,0.494557,0.623883,0.211132,30.533981,226.126214,256.660194
9,8647.442308,2.500000,0.500000,6.509615,0.009615,3.0,0.990385,1.605769,0.484038,0.463289,0.681731,0.190015,22.173077,216.355769,238.528846
21,8737.776699,2.514563,0.504854,6.563107,0.009709,3.0,0.990291,1.388350,0.510097,0.486763,0.642718,0.187224,24.737864,169.932039,194.669903
12,8650.442308,2.500000,0.500000,6.509615,0.009615,3.0,0.990385,1.567308,0.546923,0.519668,0.559231,0.204229,36.153846,157.750000,193.903846
13,8651.442308,2.500000,0.500000,6.509615,0.009615,3.0,0.990385,1.528846,0.562308,0.531320,0.534519,0.206087,36.144231,149.682692,185.826923
15,8653.442308,2.500000,0.500000,6.509615,0.009615,3.0,0.990385,1.509615,0.576731,0.542978,0.517981,0.228190,37.028846,144.259615,181.288462
14,8652.442308,2.500000,0.500000,6.509615,0.009615,3.0,0.990385,1.442308,0.574808,0.541369,0.516731,0.230916,39.673077,130.875000,170.548077
11,8649.442308,2.500000,0.500000,6.509615,0.009615,3.0,0.990385,1.538462,0.529423,0.503205,0.592788,0.197914,33.336538,118.865385,152.201923
22,8738.776699,2.514563,0.504854,6.563107,0.009709,3.0,0.990291,1.417476,0.496893,0.476611,0.662233,0.172444,19.310680,124.378641,143.689320
10,8648.442308,2.500000,0.500000,6.509615,0.009615,3.0,0.990385,1.557692,0.509038,0.485291,0.633269,0.182700,27.009615,104.884615,131.894231
6,8644.442308,2.500000,0.500000,6.509615,0.009615,3.0,0.990385,1.500000,0.440962,0.427449,0.757692,0.152132,4.480769,103.326923,107.807692
23,8739.776699,2.514563,0.504854,6.563107,0.009709,3.0,0.990291,1.417476,0.487767,0.466315,0.676408,0.177227,12.184466,71.553398,83.737864
0,8638.586538,2.500000,0.500000,6.509615,0.009615,3.0,0.990385,1.394231,0.474231,0.458632,0.712308,0.148110,5.875000,28.682692,34.557692
5,8643.442308,2.500000,0.500000,6.509615,0.009615,3.0,0.990385,1.451923,0.441154,0.426865,0.760385,0.151700,1.259615,24.490385,25.750000
1,8639.586538,2.500000,0.500000,6.509615,0.009615,3.0,0.990385,1.384615,0.467692,0.451199,0.712885,0.146386,2.788462,12.548077,15.336538
2,8783.205882,2.529412,0.509804,6.588235,0.009804,3.0,0.990196,1.401961,0.461373,0.443558,0.730196,0.147061,1.519608,6.294118,7.813725
4,9003.781250,2.604167,0.520833,6.770833,0.010417,3.0,0.989583,1.447917,0.463333,0.446027,0.764062,0.160297,0.552083,4.416667,4.968750
3,8994.979798,2.545455,0.525253,6.696970,0.010101,3.0,0.989899,1.434343,0.461212,0.444143,0.741616,0.153027,0.656566,4.232323,4.888889

In [83]:
sabado = maxloca.loc[(maxloca['weekday'] == 6)]

In [86]:
sabado = sabado.groupby(['hour']).mean().sort_values(by='total_count', ascending=False)

In [87]:
sabado

,rec_id,season,year,month,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
hour,,,,,,,,,,,,,,,
13,8640.095238,2.476190,0.495238,6.552381,0.0,6.0,0.0,1.361905,0.543048,0.515290,0.511238,0.237670,144.495238,240.876190,385.371429
15,8642.095238,2.476190,0.495238,6.552381,0.0,6.0,0.0,1.438095,0.553333,0.521061,0.489524,0.251455,151.247619,231.180952,382.428571
14,8641.095238,2.476190,0.495238,6.552381,0.0,6.0,0.0,1.438095,0.551429,0.520773,0.492095,0.253875,150.009524,231.323810,381.333333
12,8639.095238,2.476190,0.495238,6.552381,0.0,6.0,0.0,1.390476,0.528000,0.501013,0.533524,0.234546,131.123810,244.257143,375.380952
16,8643.095238,2.476190,0.495238,6.552381,0.0,6.0,0.0,1.447619,0.552000,0.518900,0.491143,0.252170,144.504762,221.638095,366.142857
17,8644.095238,2.476190,0.495238,6.552381,0.0,6.0,0.0,1.485714,0.541143,0.510675,0.506952,0.238097,126.314286,208.095238,334.409524
11,8638.095238,2.476190,0.495238,6.552381,0.0,6.0,0.0,1.390476,0.508190,0.485422,0.569429,0.206120,106.952381,221.657143,328.609524
18,8674.019231,2.471154,0.500000,6.538462,0.0,6.0,0.0,1.432692,0.526538,0.497519,0.524423,0.227042,93.903846,198.144231,292.048077
10,8637.095238,2.476190,0.495238,6.552381,0.0,6.0,0.0,1.428571,0.487619,0.468539,0.616667,0.208532,76.828571,186.895238,263.723810
19,8675.019231,2.471154,0.500000,6.538462,0.0,6.0,0.0,1.461538,0.505385,0.480037,0.576154,0.201637,71.413462,168.519231,239.932692
9,8636.095238,2.476190,0.495238,6.552381,0.0,6.0,0.0,1.390476,0.461143,0.446174,0.663714,0.196308,44.200000,142.590476,186.790476
20,8676.019231,2.471154,0.500000,6.538462,0.0,6.0,0.0,1.442308,0.491538,0.471589,0.598173,0.196327,50.586538,130.278846,180.865385
21,8677.019231,2.471154,0.500000,6.538462,0.0,6.0,0.0,1.413462,0.477692,0.459062,0.623077,0.189728,39.923077,116.076923,156.000000
22,8678.019231,2.471154,0.500000,6.538462,0.0,6.0,0.0,1.355769,0.468846,0.454256,0.642500,0.174658,34.951923,104.711538,139.663462
23,8679.019231,2.471154,0.500000,6.538462,0.0,6.0,0.0,1.394231,0.460385,0.445370,0.658750,0.165480,25.778846,90.076923,115.855769
8,8635.095238,2.476190,0.495238,6.552381,0.0,6.0,0.0,1.352381,0.440381,0.427850,0.699524,0.185786,19.809524,94.666667,114.476190
0,8627.114286,2.476190,0.495238,6.552381,0.0,6.0,0.0,1.323810,0.455238,0.439250,0.666190,0.162051,15.514286,78.790476,94.304762
1,8628.114286,2.476190,0.495238,6.552381,0.0,6.0,0.0,1.428571,0.447619,0.431027,0.681048,0.159350,10.714286,57.066667,67.780952
2,8629.114286,2.476190,0.495238,6.552381,0.0,6.0,0.0,1.447619,0.440762,0.426550,0.693810,0.153378,8.780952,41.714286,50.495238
7,8634.095238,2.476190,0.495238,6.552381,0.0,6.0,0.0,1.390476,0.421714,0.408949,0.728952,0.173562,8.247619,37.714286,45.961905
3,8630.114286,2.476190,0.495238,6.552381,0.0,6.0,0.0,1.390476,0.433143,0.420779,0.704667,0.150536,5.104762,17.780952,22.885714
6,8633.095238,2.476190,0.495238,6.552381,0.0,6.0,0.0,1.409524,0.417714,0.406062,0.736000,0.164185,4.209524,16.790476,21.000000
5,8788.961165,2.504854,0.504854,6.660194,0.0,6.0,0.0,1.388350,0.425825,0.415125,0.732524,0.162304,1.592233,6.699029,8.291262
4,8631.114286,2.476190,0.495238,6.552381,0.0,6.0,0.0,1.409524,0.424952,0.413998,0.719238,0.162910,2.095238,5.561905,7.657143